body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#040FF6, #299DED, #B3F8EC, #8AF9B6 );
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "login-area", "footer";
    text-align: center; 
}


.header {
    margin: 10px;
    padding: 20px;

}

.header logo {
    margin: 0;
    justify-items: center;
}

.header img {
    margin: 0;
    padding: 0;
}

.login-form {
    width: 55%;
    justify-content: center;
    background: #B3F8EC;
    height: 70%;
    border-radius: 10px;
    padding: 3%;
}

.login-form h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.login-form label {
    display: inline-block;
    color: black;
}

.login-form input {
    display: block;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.login-form div {
    margin: 20px 0;
}



.check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none; 
}

.check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.check:hover input ~ .checkmark {
    background-color: #ccc;
}

.check input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.login-form button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid blue;
    background-color: rgb(2, 134, 134);
    color: white;
    font-size: 18px;
    padding: 0 25px;
}

.login-form button:hover {
    opacity: 0.9;
    color: black;
}

.footer {
    align-self: center;
}

.footer .author {
    font-size: 12px;
}

