<nav>
              <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              <a class="nav-link" href="#">Panel</a>
              <a class="nav-link" href="#">Transferencias</a>
              <a class="nav-link disabled" href="#">Mi Cuenta</a>
      </nav>
      <br>
      <main class="main-panel">
        <button type="button">Ingresos</button>
        <br>
        <button type="button">Transferencia</button>
      </main>
      <footer class="footer">
        <p>&copy; 2023 Bank Company</p>
        <p class="author">Powered by Ever Banco</p>
      </footer>

